---
import PageLayout from '@layouts/page-layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const postEntries = await getCollection('posts');
    return postEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry }
    }));
}

interface Props {
    entry: CollectionEntry<'posts'>;
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { title, date } = entry.data;
const { Content } = await entry.render();
---

<PageLayout title={title}>
    <main>
        <header>
            <h1>{title}</h1>
            <p class="date">{date.toLocaleDateString()}</p>
        </header>
        <div class="blog-post-content">
            <Content />
        </div>
    </main>
</PageLayout>

<style>
    header {
        text-align: center;
        margin-bottom: 4rem;
        padding: 4rem 8rem;
        background-color: #c1fa6b;
    }

    h1 {
        font-size: var(--step-4);
        margin: 0 auto 1.5rem;
        max-width: 900px;
    }

    .date {
        font-size: var(--step-0);
        font-weight: 250;
    }

    .blog-post-content {
        --gap: clamp(1rem, 6vw, 3rem);
        --full: minmax(var(--gap), 1fr);
        --content: min(60ch, 100% - var(--gap) * 2);
        --popout: minmax(0, 2rem);
        --feature: minmax(0, 5rem);

        display: grid;
        grid-template-columns:
            [full-start] var(--full)
            [feature-start] var(--feature)
            [popout-start] var(--popout)
            [content-start] var(--content) [content-end]
            var(--popout) [popout-end]
            var(--feature) [feature-end]
            var(--full) [full-end];
    }

    .blog-post-content > :global(*) {
        grid-column: content;
    }

    .blog-post-content :global(.popout-layout) {
        grid-column: popout;
    }

    .blog-post-content :global(.feature-layout) {
        grid-column: feature;
    }

    .blog-post-content :global(.fullbleed-layout) {
        grid-column: full;
    }

    /* todo: this is a crap way of styling things in you MDX content. Change it */
    .blog-post-content :global(p),
    .blog-post-content :global(ul),
    .blog-post-content :global(ol) {
        font-size: var(--step-0);
        line-height: 1.5;
        margin-bottom: var(--space-s);
        font-weight: 350;
    }

    .blog-post-content :global(h2) {
        font-size: var(--step-3);
        margin: var(--space-m) 0;
    }
</style>
