---
import PageLayout from '@layouts/page-layout.astro';
import { getCollection } from 'astro:content';

const postEntries = await getCollection('posts');
const sortedPosts = postEntries.sort((a, b) => {
    return a.data.date > b.data.date ? -1 : 1;
});
---

<PageLayout title="Home">
    <h1>My Astro site</h1>
    <ol>
        {
            sortedPosts.map(({ slug, data: { title, date, tags } }) => (
                <li>
                    <a href={`/posts/${slug}`}>{title}</a>
                    <div>{date.toLocaleDateString()}</div>
                    {tags && (
                        <ul>
                            {tags?.map(tag => (
                                <li>{tag}</li>
                            ))}
                        </ul>
                    )}
                </li>
            ))
        }
    </ol>
</PageLayout>
