---
import '@fontsource/inconsolata';
// import '@fontsource/crimson-pzo/400.css';
import '@fontsource/crimson-pro/variable.css'; // Contains ONLY variable weights and no other axes.
import '@fontsource/crimson-pro/variable-italic.css'; // Italic variant.
import '../global-styles.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="grid-container">
            <nav>
                <a href="/">Blog</a>
                <a href="/projects">Projects</a>
            </nav>
            <slot />
            <footer>
                <p>
                    &copy; {new Date().getFullYear()} Dave Bernhard
                </p>
            </footer>
        </div>
    </body>
</html>

<style>
    .grid-container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }

    nav {
        padding: var(--space-m) var(--space-s);
        font-size: var(--step-1);
    }

    nav a + a {
        margin-left: var(--space-s);
    }

    footer {
        margin-top: var(--space-2xl);
        padding: var(--space-l);
        background-color: var(--color-footer);
        text-align: center;
        font-size: var(--step--1);
    }
</style>
